<div class="hero container-fluid">

  <div class="logo"></div>

  <%= link_to '<button type="button" class="btn btn-default btn-lg get-started">get started</button>'.html_safe, new_user_registration_path %>

</div>

<div class="footer">
  <h4>Copyright © CrowdCare 2016</h4>
</div>


