@import '_colors';
@import '_fonts';
@import '_grid';

#deviseWrapperOutside{
  background-color: white;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-bottom: 50px;
  border: 5px solid #4AD9D9;

  #FormTitleArea{
    margin-top: 0;
    height: 1.5em;
    padding-top: .5em;
    padding-bottom: 1.5em;
    background-color: white;
    color: #36B1BF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  #deviseWrapperInside{
    background-color: darken($mdBlue,10%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    box-shadow: 7px 0 7px -7px black,
    -7px 0 7px -7px black;
  }
}

#new_user{
  background-color: white;
  padding: 1.5em;
  width: 25em;
  border-radius: .7em;

  input{
    // margin-left: 2em;
    background-color: lighten($grey, 20%);
    width: 25em;
    height: 2em;
    border-style: inset;
    border-color: transparentize($grey,.3);
    border-radius: .5em;
  }
}

.field-txt{
  text-align: left;
}

.logo-sign-up {
  height: 75px;
  margin-top: -25px;
  margin-bottom: -20px;
}


.hero-overlay-bg{
  position: absolute;
  width: 100%;
  background-image: image-url('hero3.png');
  background-size: cover;
  background-position: center bottom;
  background-blend-mode: overlay;
  background-color: transparentize(black,.95);
}

#new_user input{
    background-color: #f7f6f5;
    width: 25em;
    height: 2em;
    border-style: inset;
    border: 3px solid #4AD9D9;
    height: 50px;
    margin-left: -25px;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
}

#user_email {
  background-color: white;
}

label {
 color: #36B1BF;
}


.actions{
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  background-color:#F5A503;
  margin-top: 30px;
}
