// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '_colors';
@import '_fonts';
@import '_grid';

body{
  background-color: white;
}

#dashboard-tasks{
  text-align: center;
  padding:0 auto;
  margin-bottom: 50px;
  width: 1100px;
  margin: auto;
}
.task-panel{
  margin: 5px 2%;
  text-align:center;
  min-width: 300px;
  border: 3px solid #F2385A;
}

.header-dashboard {
  color: black;
  margin-top: 40px;
  margin-bottom: 30px;
}

.buttons {
    margin: 10px 10px 60px 10px;
    width: 300px;
    background-color: #F5A503;
    border-radius: 0px;
    color: white;
    border: 3px solid white;

    &:hover {
      color: #F5A503;
      background-color: white;
      border: 3px solid #F5A503;

    }
    a {
      color: white;
      text-align: center;
    }
}

hr {
  width: 700px;
}

.panel {
  border-radius: 0px;
}

.panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.project-name {
  font-size: 28px;
}

.new-project-button {
    border: 3px solid #4AD9D9;
    padding-top: 35px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.new-project-question {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-bottom: 25px;
}

.project-new-div{
  width: 1100px;
  margin: auto;
}
